.container {
  max-width: var(--container-width);
  margin-inline: auto;
}

/* Utility Props */
.px-1 {padding-inline: 0.5rem;}
.px-2 {padding-inline: 1rem;}
.px-3 {padding-inline: 1.5rem;}
.px-4 {padding-inline: 2rem;}

.py-1 {padding-block: 0.5rem;}
.py-2 {padding-block: 1rem;}
.py-3 {padding-block: 1.5rem;}
.py-4 {padding-block: 2rem;}

.mx-1 {margin-inline: 0.5rem;}
.mx-2 {margin-inline: 1rem;}
.mx-3 {margin-inline: 1.5rem;}
.mx-4 {margin-inline: 2rem;}

.my-1 {margin-block: 0.5rem;}
.my-2 {margin-block: 1rem;}
.my-3 {margin-block: 1.5rem;}
.my-4 {margin-block: 2rem;}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
}

.breadcrumbs li a {
  color: var(--gray-9);
}

.breadcrumbs li+li::before {
  padding-right: var(--size-1);
  color: var(--purple-8);
  content: "\203a";
}

/* Search Button */
.search-container {
  padding-block: 1rem;
}

.search-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 8px;
  padding-inline: 16px;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

/* Search Overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(0,0,0, .9);
  color: white;
  visibility: hidden;
  transition: all 350ms ease-in-out;
}

.search-overlay.search-overlay--active {
  width: 100vw;
  height: 100vh;
  visibility: visible;
}

.search-overlay .top {
  padding-block: 2rem;
}

.search-overlay .top .container {
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: rgba(128,128,128, 9);
}

.search-overlay .top .search-term {
  width: 100%;
  min-height: 3rem;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 7px;
  overflow: hidden;
  color: #393939;
}

.search-close-button {
  background-color: white;
  color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 8px;
  padding-inline: 16px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.search-close-button svg {
  width: 20px;
  height: 20px;
}
