@import "open-props/style";

:root {
  --color-text: var(--gray-9);
  --color-shades-dark: var(--gray-10);
  --color-shades-light: var(--gray-4);
  --color-highlight: var(--purple-7);
  --color-hamburger: var(--gray-9);
  --container-width: min(100% - 2rem, 65rem);
  --main-font: var(--font-sans);
}